:root {
    --main-color: rgb(163, 53, 196);
    --sec-color: rgb(67, 67, 67);
    --light-grey: rgb(144, 144, 144);
    --color-footer: rgb(106, 104, 104);
}

/*  */

#page_ad {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    margin: 100px 0%;
}

.page_ad {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.page_img {
    width: 30%;
    height: 200px;
}

.page_ad img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.page_title {
    width: 40%;
    height: 200px;
    display: grid;
    align-content: stretch;
    margin-left: 3%;
}

.page_title h2 {
    color: var(--sec-color);
}

.page_title h3 {
    font-size: 1.4rem;
    color: var(--main-color);
}

.page_seller {
    border: 1px solid var(--light-grey);
    border-radius: 10px;
    width: 30%;
    margin-left: 20%;
    display: grid;
    align-content: space-around;
    justify-content: center;
    padding: 15px;
}

.page_seller h2 {
    color: var(--sec-color);
}

.page_seller h3 {
    color: var(--main-color);
}

.page_seller p {
    color: var(--light-grey);
}

/* DESCRIÇÃO DO ANÚNCIO */

#description {
    width: 100%;
    margin: 100px 0px 10px 0px;
    display: flex;
    justify-content: center;
}

#div_description {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.description {
    width: 70%;
    padding: 15px 25px 10px 25px;
    border: 1px solid var(--light-grey);
    border-radius: 10px;
}

.description h1 {
    color: var(--sec-color);
}

.description p {
    margin: 10px 0px 10px 0px;
    color: var(--light-grey);
}

.description hr {
    margin: 25px 0px;
}

/* GARANTIA - warranty */

.warranty {
    width: 30%;
    height: 140px;
    margin-left: 20%;
    padding: 15px 25px 10px 25px;
    border: 1px solid var(--light-grey);
    border-radius: 10px;
    display: grid;
    align-content: space-evenly;
    justify-content: center;
    padding: 15px;
}

.warranty h2 {
    color: var(--sec-color);
}

.warranty p {
    display: flex;
    justify-content: center;
    color: var(--light-grey);
}

/* BOTÃO DENUNCIAR */

.denounce {
    width: 100%;
    display: flex;
    margin-bottom: 100px;
}

.denounce a {
    width: 54%;
    margin-top: 8px;
    display: flex;
    justify-content: end;
    color: var(--main-color);
    cursor: pointer;
    font-size: 0.9rem
}

/* PERGUNTAS */

#questions {
    width: 100%;
    margin: 100px 0px;
    display: flex;
    justify-content: center;
}

#div_questions {
    width: 80%;
    display: flex;
    justify-content: flex-start;
}

.questions {
    width: 75%;
    padding: 15px 25px 10px 25px;
    border: 1px solid var(--light-grey);
    border-radius: 10px;
}

.questions h1 {
    color: var(--main-color);
}

.questions h3 {
    margin: 25px 0px 10px 0px;
    color: var(--sec-color);
}

.questions p {
    margin: 10px 0px 10px 0px;
    color: var(--light-grey);
}

.questions hr {
    margin: 25px 0px;
}

/* INFO */

.section_info {
    width: 100%;
    display: flex;
    justify-content: center;
}

.div_info {
    width: 70%;
}

.info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 1%;
    margin-bottom: 60px;
}

.info li {
    width: 28.33%;
    border: 1px solid var(--light-grey);
    border-radius: 10px;
}

.info h1 {
    margin: 15px;
    font-size: 1.3rem;
    text-align: center;
    color: var(--light-grey);
    font-weight: 100;
}

.info h2 {
    margin: 15px;
    font-size: 1rem;
    text-align: center;
    color: var(--light-grey);
    font-weight: 100;
}

/* FOOTER */

footer {
    width: 100%;
    border-top: 1px solid var(--color-footer);
    padding: 20px;
    font-size: 0.8rem;
    color: var(--color-footer);
    display: flex;
    justify-content: center;
}

footer div+div {
    margin-left: 50px;
}

.container_footer {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact p+p {
    padding-top: 5px;
}

#copy {
    width: 50%;
    display: flex;
    justify-content: center;
}

@media (max-width: 600px) {

    .page_seller,
    .warranty {
        display: none !important;
    }

    #page_ad {
        margin: 50px 0%;
    }

    .page_img {
        width: 50%;
    }

    .page_title {
        width: 50%;
    }

    .page_title h2 {
        font-size: 1rem;
    }

    .page_title h3 {
        font-size: 1.1rem;
    }

    /* DESCRIÇÃO DO ANÚNCIO */

    #description {
        margin: 50px 0px 10px 0px;
    }

    .description {
        width: 100%;
    }

    .description h1 {
        font-size: 1.1rem;
    }

    .description p {
        line-height: 25px;
    }

    /* BOTÃO DENUNCIAR */

    .denounce {
        margin-bottom: 50px;
    }

    .denounce a {
        width: 57%;
    }

    /* PERGUNTAS */

    #questions {
        margin: 0px 0px 50px 0px;
    }

    #div_questions {
        width: 80%;
    }

    .questions {
        width: 100%;
    }

    /* INFO */

    .info li {
        width: 100%;
        height: 100px;
    }

    /* FOOTER */

    footer {
        font-size: 0.6rem;
    }
}