* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial;
    box-sizing: border-box;
    list-style: none;
}

header {
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
}

.logo {
    font-family: Arial;
    font-size: 1.5rem;
    width: 20%;
    text-align: center;
}

header h2 {
    color: rgb(81, 81, 81);
}

header h2 strong {
    color: rgb(175, 55, 212);
}

/*  */

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.login_form {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.input_label {
    display: block;
    color: #b6b6b6;
    font-size: 0.8rem;
    margin: 20px 0 5px;
}

.input_text {
    color: #333333;
    border: none;
    border-bottom: 1px solid #b6b6b6;
    font-size: 1rem;
    margin: 2px 0 5px;
    width: 100%;
}

.input_text:focus-visible {
    border: none;
    border-bottom: 1px solid #333333;
    outline: none;
}


.button {
    background-color: rgb(175, 55, 212);
    border: none;
    border-radius: 30px;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    margin: 20px 0;
    padding: 15px;
    width: 100%;
    cursor: pointer;
}

.button:hover {
    opacity: 70%;
    transition: 300ms;
}

.button:disabled {
    color: #dddcdc;
    background-color: #f6f6f6;
    font-size: 12px;
    opacity: 0.8;
    color: #fff;
    text-decoration: none;
}

.section_login {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px 0px;
}

.div_login {
    width: 30%;
    display: flex;
    justify-content: space-around;
    font-size: 0.7rem;
    color: rgb(120, 120, 120)
}

.div_login a {
    text-decoration: none;
    color: rgb(175, 55, 212);
}

.div_login a:hover {
    opacity: 70%;
    transition: 300ms;
    font-size: 0.8rem;
}

@media (max-width: 600px) {

    header {
        padding: 50px 0px 0px 0px;
        justify-content: space-around;
    }

    header .logo {
        font-size: 0.7rem;
        width: 50%;
    }

    .login_form {
        width: 60%;
    }

    .div_login {
        width: 60%;
        font-size: 0.5rem;
    }
}