:root {
    --main-color: rgb(163, 53, 196);
    --sec-color: rgb(67, 67, 67);
    --color-footer: rgb(106, 104, 104);
    --slow: 300ms;
}

/* text_ad é o título e subtítulo da página */

.text_ad {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text_ad h1 {
    margin: 6% 0% 0%;
    text-align: center;
    font-size: 2.8rem;
    color: rgb(47, 47, 47);
}

.text_ad h1 strong {
    color: var(--main-color);
}

.text_ad p {
    margin: 2% 0% 2%;
    text-align: center;
    font-size: 1.4rem;
    color: rgb(106, 104, 104);
}

/* botão "como funciona?" */
.btn_how {
    padding: 12px;
    text-align: center;
    background-color: var(--main-color);
    color: #fff;
    border-style: none;
    width: 150px;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: var(--slow);
}

.btn_how:hover {
    width: 200px;
    transition: var(--slow);
    background-color: var(--main-color);
    font-size: 1.2rem;
}

/* POPULARES */

.featured {
    width: 100%;
    display: flex;
    justify-content: center;
}

#featured {
    width: 70%;
    margin: 60px 0px 50px 0px;
}

.featured h1 {
    margin: 0px 0px 20px 0px;
    text-align: left;
    color: rgb(106, 104, 104);
}

.popularity {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 1%;
}

.popularity li {
    width: 19%;
    height: 350px;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

.popularity li img {
    width: 100%;
    height: 90%;
    border-radius: 25px;
    object-fit: cover;
}

.popularity li h2 {
    margin: 6px 0px 0px 0px;
    font-size: 0.8rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* CATEGORIAS */

#category {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 60px;
}

.category {
    width: 70%;
    font-size: 0.6rem;
    color: rgb(81, 81, 81);
}

.category a {
    color: rgb(106, 104, 104);
}

.category a:hover {
    transition: var(--slow);
    color: var(--main-color);
    font-size: 0.7rem;
}

.category hr {
    color: rgb(106, 104, 104);
}

/* PRODUTOS EM DESTAQUE */

.section_products {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.div_products {
    width: 70%;
    margin: 30px 0px 0px 0px;
}

.div_products h1 {
    margin: 0px 0px 20px 0px;
    text-align: left;
    color: rgb(106, 104, 104);
}

.product {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px 2%;
}

.product li {
    width: 32%;
    display: flex;
    flex-direction: column;
    height: 310px;
}

.product li img {
    width: 100%;
    height: 60%;
    border-radius: 10px;
    object-fit: cover;
}

.product_text {
    width: 100%;
    margin: 15px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
}

.product_text h2 {
    width: 40%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1rem;
    color: rgb(59, 59, 59);
}

.product_text h3 {
    width: 40%;
    text-align: right;
    font-size: 1rem;
    color: rgb(59, 59, 59);
}

.description_product {
    margin: 20px 0px 0px 0px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1rem;
}

/* ANÚNCIOS */

.section_ad {
    width: 100%;
    display: flex;
    justify-content: center;
}

.div_ad {
    width: 70%;
}

.section_ad h1 {
    margin: 0px 0px 20px 0px;
    text-align: left;
    color: rgb(106, 104, 104);
}

.ad {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 1%;
    margin-bottom: 100px;
}

.ad li {
    width: 24.25%;
    display: flex;
    flex-direction: column;
    height: 220px;
    border: 1px solid rgb(191, 191, 191);
    border-radius: 10px;
}

.ad li img {
    width: 100%;
    height: 80%;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}

.ad_text {
    width: 100%;
    height: 30%;
    display: flex;
    padding: 10px 0px;
}

.ad_text h2 {
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 0.9rem;
    color: rgb(81, 81, 81);
    align-items: center;
    margin: 0% 6%;
    text-transform: lowercase;
}

/* INFO */

.section_info {
    width: 100%;
    display: flex;
    justify-content: center;
}

.div_info {
    width: 70%;
}

.info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 1%;
    margin-bottom: 60px;
}

.info li {
    width: 28.33%;
    border: 1px solid rgb(191, 191, 191);
    border-radius: 10px;
}

.info h1 {
    margin: 15px;
    font-size: 1.3rem;
    text-align: center;
    color: rgb(144, 144, 144);
    font-weight: 100;
}

.info h2 {
    margin: 15px;
    font-size: 1rem;
    text-align: center;
    color: rgb(168, 168, 168);
    font-weight: 100;
}

/* FOOTER */

footer {
    width: 100%;
    border-top: 1px solid var(--color-footer);
    padding: 20px;
    font-size: 0.8rem;
    color: var(--color-footer);
    display: flex;
    justify-content: center;
}

footer div+div {
    margin-left: 50px;
}

.container_footer {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact p+p {
    padding-top: 5px;
}

#copy {
    width: 50%;
    display: flex;
    justify-content: center;
}

@media (max-width: 600px) {
    .text_ad h1 {
        margin: 10% 0% 0% 0%;
        font-size: 2rem;
    }

    .text_ad p {
        margin: 20px 20px;
        font-size: 0.9rem;
    }

    .btn_how {
        width: 40%;
        font-size: 1rem;
    }

    .featured h1 {
        font-size: 1.2rem;
    }

    .popularity li {
        width: 32.66%;
        height: 160px;
    }

    .popularity li img {
        border-radius: 10px;
    }

    .div_products h1 {
        font-size: 1.2rem;
    }

    .product {
        gap: 0px;
    }

    .product li {
        width: 100%;
    }

    .ad li {
        width: 49.40%;
    }

    .ad li img {
        height: 70%;
    }

    .ad_text h2 {
        -webkit-line-clamp: 3;
        font-size: 0.8rem;
    }

    .info li {
        width: 100%;
        height: 100px;
    }

    footer {
        font-size: 0.6rem;
    }
}