/*   COMO FUNCIONA   */

#title_one {
    text-align: center;
    margin: 70px 0px 50px 0px;
}

/* astros é pai da section: texto e imagem (astro_div e text_div) */
.astros {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.astro_div {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 13px 1px;
}

.astro_img {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.astro_div img {
    width: 50%;
}

.text_div {
    width: 50%;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_div p strong {
    font-size: 1.7rem;
    color: rgb(157, 63, 185);
}

/* ESTAMOS AQUI POR VOCE */

#title_two {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 60px 0px 0px 0px;
}

#por_voce {
    margin: 100px 0px 0px 0px;
    background-color: rgb(229, 136, 255);
}

/* pai da img e do p (astro_porvoce; astro_img; text_por_voce) */
.por_voce {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 40px 0px;
}

.astro_porvoce {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 13px 1px;
}

.astro_porvoce img {
    width: 50%;
}

.text_por_voce {
    width: 50%;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}