* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial;
    box-sizing: border-box;
    list-style: none;
}

header {
    border-bottom: 1px solid rgb(106, 104, 104);
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
}

.logo {
    font-family: Arial;
    font-size: 1rem;
    width: 20%;
    text-align: center;
}

header h1 {
    color: rgb(81, 81, 81);
}

header h1 strong {
    color: rgb(175, 55, 212);
}

/* pai da barra de pesquisa */
.search {
    width: 40%;
    text-align: center;
}

/* barra de pesquisa */
.search input {
    padding: 1.5%;
    border-radius: 20px;
    border-style: solid;
    font-size: 1rem;
    width: 80%;
    cursor: pointer;
}

/* bot達o da barra de pesquisa */
/* .search button {
    border-style: none;
    background-color: #fff;
    font-size: 1.2rem;
} */

/* botoes do header - anunciar e carrinho */
.buttons_logo {
    font-family: Arial;
    font-size: 1rem;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header a+a {
    margin-left: 2.5%;
}

.btn_login {
    padding: 12px;
    background-color: rgb(175, 55, 212);
    color: #fff;
    border-style: none;
    border-radius: 25px;
    cursor: pointer;
}

/* bot達o "anunciar" */
/* .btn_ad {
    padding: 10px;
    background-color: rgb(175, 55, 212);
    color: #fff;
    border-style: none;
    border-radius: 25px;
    cursor: pointer;
} */

/* bot達o do carrinho */
/* .btn_cart {
    padding: 10px;
    background-color: rgb(81, 81, 81);
    color: #fff;
    border-style: none;
    border-radius: 25px;
    cursor: pointer;
} */

@media (max-width: 600px) {

    header {
        padding: 12px;
        justify-content: space-around;
    }

    header .logo {
        font-size: 0.7rem;
        width: 50%;
    }

    header .search {
        display: none;
    }

    header .buttons_logo {
        font-size: 0.7rem;
        width: 50%;
    }

    .btn_ad {
        padding: 10px;
        border-radius: 25px;
    }

    /* bot達o do carrinho */
    .btn_cart {
        padding: 10px;
        border-radius: 25px;
    }

    header a+a {
        margin-left: 4px;
    }
}