/* text_ad é o título e subtítulo da página */

.text_ad {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text_ad h1 {
    margin: 6% 0% 0%;
    text-align: center;
    font-size: 2.8rem;
    color: rgb(47, 47, 47);
}

.text_ad h1 strong {
    color: rgb(175, 55, 212);
}

.text_ad p {
    margin: 2% 0% 2%;
    text-align: center;
    font-size: 1.4rem;
    color: rgb(106, 104, 104);
}

/* botão "como funciona?" */
.btn_how {
    padding: 12px;
    text-align: center;
    background-color: rgb(175, 55, 212);
    color: #fff;
    border-style: none;
    width: 150px;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
}

.btn_how:hover {
    width: 200px;
    transition: 300ms;
    background-color: rgb(157, 63, 185);
    font-size: 1.2rem;
}

/* category é o pai do título (h1) e dos produtos (products) */

.category {
    width: 100%;
    display: flex;
    justify-content: center;
}

#category {
    width: 70%;
    margin-top: 60px;
    margin-bottom: 60px;
}

.category h1 {
    margin: 0px 0px 20px 0px;
    text-align: left;
    color: rgb(106, 104, 104);
}

.products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 13px 1px;
}

.products li {
    width: 23%;
    height: 330px;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

.products li img {
    width: 100%;
    height: 80%;
    border-radius: 25px;
}

.products li h2 {
    margin: 6px 0px 0px 0px;
    font-size: 0.8rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* FOOTER */

footer {
    width: 100%;
    border-top: 1px solid rgb(106, 104, 104);
    padding: 20px;
    font-size: 0.8rem;
    color: rgb(106, 104, 104);
    display: flex;
    justify-content: center;
}

footer div+div {
    margin-left: 50px;
}

.container_footer {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact p+p {
    padding-top: 5px;
}

#copy {
    width: 50%;
    display: flex;
    justify-content: center;
}