/* Tudo que estiver aqui, vai mudar no celular */

@media (max-width: 600px) {

    header {
        padding: 12px;
        justify-content: space-around;
    }

    header .logo {
        font-size: 0.7rem;
        width: 50%;
    }

    header .search {
        display: none;
    }

    header .buttons_logo {
        font-size: 0.7rem;
        width: 50%;
    }

    .btn_ad {
        padding: 15px;
        border-radius: 25px;
    }

    /* botão do carrinho */
    .btn_cart {
        padding: 15px;
        border-radius: 25px;
    }

    header a+a {
        margin-left: 12px;
    }

    /* PÁGINA INICIAL - INDEX.HTLM */

    .text_ad h1 {
        margin: 10% 0% 0% 0%;
        font-size: 2rem;
    }

    .text_ad p {
        margin: 20px 20px;
        font-size: 0.9rem;
    }

    .btn_how {
        width: 40%;
        font-size: 1rem;
    }

    .products li {
        width: 40%;
        height: 150px;
    }

    .products li img {
        border-radius: 10px;
    }

    footer {
        font-size: 0.6rem;
    }

    /* PÁGINA "COMO FUNCIONA" */

    #title_two {
        padding: 40px 0px 40px 0px;
    }

    .astro_div {
        width: 90%;
    }

    .astro_div img {
        width: 90%;
    }

    .text_div {
        width: 40%;
        font-size: 0.8rem;
    }
    
    .text_div p strong {
        font-size: 1.5rem;
    }
    
    .astro_porvoce {
        width: 90%;
    }
    
    .astro_img {
        width: 50%;
    }

    .astro_porvoce img {
        width: 100%;
    }
    
    .text_por_voce {
        width: 50%;
        font-size: 0.7rem;
    }

}