/* Tudo que estiver aqui, vai mudar no celular */
@media (max-width: 600px) {

    header {
        padding: 12px;
        justify-content: space-around;
    }

    header .logo {
        font-size: 0.7rem;
        width: 50%;
    }

    header .search {
        display: none;
    }

    header .buttons_logo {
        font-size: 0.7rem;
        width: 50%;
    }

    .btn_ad {
        padding: 15px;
        border-radius: 25px;
    }
    
    /* botão do carrinho */
    .btn_cart {
        padding: 15px;
        border-radius: 25px;
    }

    header a+a {
        margin-left: 12px;
    }

    .text_ad h1 {
        margin: 10% 0% 0% 0%;
        font-size: 2rem;
    }

    .text_ad p {
        margin: 20px 20px;
        font-size: 0.9rem;
    }

    .btn_how {
        width: 40%;
        font-size: 1rem;
    }

    .products li {
        width: 35%;
        height: 150px;
    }

    .products li img {
        border-radius: 10px;
    }

    footer {
        font-size: 0.6rem;
    }

}