.div_title {
    width: 100%;
    display: flex;
    justify-content: center;
}

#title_result {
    width: 80%;
    display: flex;
    align-items: center;
    padding: 60px 0px 30px 0px;
    font-size: 1.6rem;
}

.section_buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.div_buttons {
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 1rem;
}

.div_buttons a+a {
    margin-right: 10px;
}

.btn_filter {
    padding: 10px;
    background-color: rgb(175, 55, 212);
    color: #fff;
    font-size: 0.8rem;
    border-style: none;
    border-radius: 15px;
    cursor: pointer;
}

.btn_relevance {
    padding: 10px;
    background-color: rgb(47, 47, 47);
    color: #fff;
    font-size: 0.8rem;
    border-style: none;
    border-radius: 15px;
    cursor: pointer;
}

/* PRODUTOS */

.section_products {
    width: 100%;
    display: flex;
    justify-content: center;
}

.div_products {
    width: 80%;
    margin: 30px 0px 0px 0px;
}

.product {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.product li {
    width: 20%;
    display: flex;
    flex-direction: column;
    height: 290px;
}

.product li img {
    width: 100%;
    height: 60%;
    border-radius: 10px;
}

.product_text {
    width: 100%;
    margin: 15px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
}

.product_text h2 {
    width: 40%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1rem;
}

.product_text h3 {
    width: 40%;
    text-align: right;
    font-size: 1rem;
}

.description_product {
    margin: 20px 0px 0px 0px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1rem;
}

/* FOOTER */

footer {
    width: 100%;
    margin: 50px 0px 0px 0px;
    border-top: 1px solid rgb(106, 104, 104);
    padding: 20px;
    font-size: 0.8rem;
    color: rgb(106, 104, 104);
    display: flex;
    justify-content: center;
}

footer div+div {
    margin-left: 50px;
}

.container_footer {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact p+p {
    padding-top: 5px;
}

#copy {
    width: 50%;
    display: flex;
    justify-content: center;
}

@media (max-width: 600px) {

    #title_result {
        font-size: 1.2rem;
    }
    
    .btn_filter {
        padding: 9px;
        font-size: 0.7rem;
        border-radius: 10px;
    }
    
    .btn_relevance {
        font-size: 0.7rem;
        border-radius: 10px;
    }

    .product li {
        width: 100%;
    }
    
}